<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Gummy Bear Kingdom</title>
</head>
<body>
<nav class="custom-navbar">
    <div class="top-section">
        <div class="container">
            <div class="right-nav-box">
                <h4>Free shipping on all orders!!!*</h4>
            </div>
            <div class="left-nav-box">
                <h4>Save 50% with our special offer membership rewards program!</h4>
            </div>
        </div>
    </div>
    <div class="middle-section center-align">
        <div class="container">
            <h4>
                call toll-free 888-555-5555
                Mon. - Fri. 8:30 a.m.-5:30 p.m. Eastern
            </h4>
            <h1>Gummy Bear Kingdom</h1>
        </div>
    </div>
    <div class="bottom-section center-align">
        <div class="container">
            <h3><span class="main-link">@Html.ActionLink("Home", "Index", "Home")</span> | <span class="main-link">@Html.ActionLink("Products", "Index", "Products")</span> | <span class="main-link">@Html.ActionLink("Create", "Create", "Products")</span></h3>
            
            

        </div>
    </div>
</nav>
<div class="spacer-top"></div>
    <div class="container">
        
        @RenderBody()
    </div>
</body>
</html>
@* Copying fancyfortunecookies.com *@
