body {
    background-color: #a5f7d1;
}

body ul {
    list-style: none;
}

div.product-holder {
    text-align: center;
}

div.image-holder {
    width: 100%;
}

div.image-holder img {
    width: 100%;
}

div.spacer {
    margin-top: 1%;
    margin-bottom: 1%;
}

div.right-align {
    float: right;
}